<div class="status">
  <div class="status__point" [hidden]="notificationDisplay.isSeen"></div>
</div>
<div class="users-wrap">
  <div class="users">
    <div *ngFor="let user of notificationDisplay.users"
      class="users__photo"
      [ngClass]="{'users__photo--small': notificationDisplay.users.length > 1}">
      <img src="http://lorempixel.com/20/20/people"
        *ngIf="notificationDisplay.users.length > 1">
      <img src="http://lorempixel.com/40/40/people"
        *ngIf="notificationDisplay.users.length === 1">
    </div>
    <div class="users__type users__type--{{notificationDisplay.event}}"></div>
  </div>
</div>
<div class="content">
  <p class="content__title" [innerHTML]="notificationDisplay.title"></p>
  <p class="content__time">{{ notificationDisplay.time | timeago }}</p>
  <p class="content__text">{{ notificationDisplay.comment }}</p>
</div>
<div class="more">
  <span class="count" *ngIf="notificationDisplay.count > 1">
    {{ notificationDisplay.count }} <span class="caret">&raquo;</span>
  </span>
</div>
