@import "../../_variables";

:host {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.trigger {
  padding-right: 16px;
  padding-bottom: 10px;
  text-align: right;

  &__button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: $blue;
    color: #fff;
    box-shadow: 1px 2px 10px 2px rgba($grey-darker, 0.5);
  }
}

.list {
  border-radius: 16px;
  box-shadow: 1px 2px 10px 2px rgba($grey-darker, 0.5);

  &__loading {
    padding: 1.6rem;
    text-align: right;
  }
}
